# Skip this section below if this device is not connected by USB
SUBSYSTEM!="usb", GOTO="android_usb_rules_end"

# Devices listed here in android_usb_rules_{begin...end} are connected by USB
LABEL="android_usb_rules_begin"

# Samsung GT-S5660
ATTR{idVendor}=="04e8", ENV{ADB_USER}="yes"

# Zopo ZP900S
ATTR{product}=="ZP900S", ENV{ADB_USER}="yes", ENV{TETHER_DEVICE}="zp900s"

# Cube Talk 7X
ATTR{manufacturer}=="U51GT_C4", ENV{ADB_USER}="yes", ENV{TETHER_DEVICE}="talk7x"

# Enable device as a user device if found
#ENV{ADB_USER}=="yes", SYMLINK+="libmtp-%k", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1", GROUP="users", MODE="0666"
ENV{ADB_USER}=="yes", GROUP="users", MODE="0660"

# Start tethering on device hotplug
ACTION=="add", ENV{TETHER_DEVICE}=="?*", TAG+="systemd", ENV{SYSTEMD_WANTS}="tether@%E{TETHER_DEVICE}.service"

# Devices listed here {begin...end} are connected by USB
LABEL="android_usb_rules_end"
